            <!-- /.container-fluid -->

            <%- include('../partials/header') %>

            <body id="page-top">

                <!-- Page Wrapper -->
                <div id="wrapper">
                    <%- include('../partials/sidebar') %>




                        <!-- Content Wrapper -->
                        <div id="content-wrapper" class="d-flex flex-column">

                            <!-- Main Content -->
                            <div id="content">
                                <%- include('../partials/topbar') %>

                                    <!-- Begin Page Content -->
                                    <div class="container-fluid">

                                        <!-- Page Heading -->
                                        <h1 class="h3 mb-4 text-gray-800">USERS</h1>
                                        <a href="/users/add" class="btn-group mx-2 mb-2" role="group" aria-label="Basic example">
                                          <span class="btn bg-gradient-primary"><i class="fa-regular fa-plus"></i></span>
                                          <span class="btn btn-primary">Add</span>
                                         
                                        </a>

                                      <div class="card mx-1 mx-2">

                                      

                                        <table id="tableUsers" class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th>User id</th>
                                                <th>Email</th>
                                                <th>Name</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                              </tr>
                                            </thead>
                                            <tfoot>
                                              <tr>
                                                <th>User id</th>
                                                <th>Email</th>
                                                <th>Name</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                              </tr>
                                            </tfoot>
                                          </table>

                                    </div>
                                  </div>

                                    <%- include('../partials/footer') %>
                            </div>
                              <!-- Footer -->
                              <footer class="sticky-footer bg-white">
                                <div class="container my-auto">
                                    <div class="copyright text-center my-auto">
                                        <span>Copyright &copy; RUBICAMP 2022</span>
                                    </div>
                                </div>
                            </footer>
                            <!-- End of Footer -->

                            <!-- End of Main Content -->