<% if(error.length> 0) {%>
    <div class="d-flex justify-content-center">
        <h4 class="text-center alert alert-danger col-md-6">
            <%= error %>
        </h4>
    </div>
    <% } %>

        <% if(success.length> 0) {%>
            <div class="d-flex justify-content-center">
                <h4 class="text-center alert alert-success col-md-6">
                    <%= success %>
                </h4>
            </div>
            <% } %>