<script>
    let getUserId = '<% user.userid %>'
    $('#tablePurchase').DataTable({
    "lengthMenu": [[3, 5, 10, 100], [3, 5, 10, 100]],
    "processing": true,
    "serverSide": true,
    "ajax": "/purchase/datatable",
    "columns": [
      { "data": "invoice" },
      {
        "data": "time",
        render: function(data){
          return `${moment(data).format('DD MMM YYYY HH:mm:s') }`
        }
      },
      { "data": "totalsum" },
      { "data": "supplier" },
      {
        "data": "invoice",
        render: function (data) {
          return `
                  
                  <a type="button" href ="/purchase/show/${data}" class='btn btn-success rounded-circle'><i class="fa-solid fa-circle-info"></i></a>
                 
<button type="button" class="btn btn-danger rounded-circle" data-toggle="modal" data-target="#exampleModal${data}">
<i class="fa-solid fa-trash"></i>
</button>


<div class="modal fade" id="exampleModal${data}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure want to delete it?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <a href="/purchase/delete/${data}" type="button" class="btn btn-primary">Save changes</a>
    </div>
  </div>
</div>
</div>
                  
                  `
        }
      },
    ],
    "rowCallback": function (row, data, index){
    if(data.operator != getUserId){
      $('td', row).eq(4).css({
        'pointer-events': 'none',
        'cursor': 'default',
        'color': 'white',
        'border-style': 'solid',
        'background-color': '#e2e8fo',
        'opacity': '0.5',
      })
    }
  }
  });
</script>